<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220884806947-k5jl7glpo4o94u945edk4nfi79565ul1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220884806947-k5jl7glpo4o94u945edk4nfi79565ul1</string>
	<key>API_KEY</key>
	<string>AIzaSyCk8Otue6YxOR96ENL3t1vwasxnKOjmif8</string>
	<key>GCM_SENDER_ID</key>
	<string>220884806947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.loandbehold.flutterChatLoAndBehold</string>
	<key>PROJECT_ID</key>
	<string>flutterchatloandbehold</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatloandbehold.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220884806947:ios:9105918c9e019dc2317096</string>
	<key>DATABASE_URL</key>
	<string>https://flutterchatloandbehold.firebaseio.com</string>
</dict>
</plist>